<p-button
  severity="success"
  label="New"
  icon="pi pi-plus"
  class="mr-2"
  (onClick)="openModal()"
/>

<p-dialog
  header="Add Campaign"
  [modal]="true"
  [(visible)]="visible"
  [style]="{ width: '45rem' }"
  (onHide)="hideDialog()"
>
  <span class="p-text-secondary block mb-5"></span>
  <form [formGroup]="myForm" (ngSubmit)="onSubmit()" novalidate autocomplete="off">
    <div class="formgrid grid">
      <div class="field col-12">
        <label for="campaign">Campaign</label>
        <input
          id="campaign"
          formControlName="campaign_name"
          type="text"
          class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
          [ngClass]="{ 'ng-invalid ng-dirty': isValidField('campaign_name') }"
        />
        <small class="p-error" *ngIf="isValidField('campaign_name')">
          Campaign name is required
        </small>
      </div>
      <div class="field col-12 md:col-6">
        <label for="start_date">Start Date</label>
        <input
          id="start_date"
          formControlName="start_date"
          type="date"
          class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
          [ngClass]="{ 'ng-invalid ng-dirty': isValidField('end_date') }"
        />
        <small class="p-error" *ngIf="isValidField('end_date')">
          Start date is required
        </small>
      </div>
      <div class="field col-12 md:col-6">
        <label for="end_date">End Date</label>
        <input
          id="end_date"
          formControlName="end_date"
          type="date"
          class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
          [ngClass]="{ 'ng-invalid ng-dirty': isValidField('end_date') }"
        />
        <small class="p-error" *ngIf="isValidField('end_date')">
          End date is required
        </small>
      </div>
    </div>
    <div class="flex justify-content-end gap-2">
      <p-button label="Cancel" severity="secondary" (onClick)="hideDialog()" />
      <p-button label="Save" type="submit" />
  </div>
  </form>
</p-dialog>
